
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="signup">SIGN UP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">LOGIN</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="district">EXPLORE</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">CONTACT US</a>
    </li>
  </ul>
  
  <!--<nav style="background: transparent; border:none; color: red;" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a style="color:red;"class="navbar-brand" routerLink="">JustGo</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="">HOME</a></li>
        <li><a routerLink="district">EXPLORE</a></li>
        <li><a routerLink="contact">CONTACT US</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav-->